.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation

      a.navbar-brand(href='/')
        i.fa.fa-home
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li 설문조사 만들기
        li 설문진행 확인
        li 설문결과 확인
      ul.nav.navbar-nav.navbar-right
        li Signin
        li Signup
