doctype html
html(lang='ko')
  head
    block title
      title=title
    meta(charset='UTF-8')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block top-nav
      include ./includes/topnav

    block content

    block footer
      include ./includes/footer
