extends ../layout

block content
  .container
    if survey.id
      h1.page-header 설문조사 수정
    else
      h1.page-header 설문조사 작성
      
    form(action = (survey.id) ? "/surveys/#{survey.id}?_method=PUT" : "/surveys", method='POST')
      .form-group
        label(for='title') 설문조사 제목
        input.form-control(type='title', id='title', name='title', value=survey.title)
      .form-group
        label(for='comment') 설문조사 설명
        textarea.form-control(id='comment', name='comment')= survey.comment

      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료
